* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input{
  display: flex;
  width: 50rem;
  height: 2rem;
}

.timetable {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #000000;
  height: 90vh;
}

.search-from {
  /* display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #000000;
  height: 50vh; */
  padding-top: 2vh;
  width: 70%;
  margin: auto; 
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  min-width: 200px;
}

.search{
  height: 20vh;
  display: flex;
  flex-direction: column;
  
}

.search-head1{
  color: #000000;
  font-size: 36px;
}
.search-head2{
  color: #000000;
  font-size: 26px;
}

.enrollment {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #000000;
  height: 90vh;
}

